body, html {
    overflow: hidden; /* Disable default browser scroll */
  }

// drawer nav
.q-drawer {
    .q-item {
        opacity: 0.6;
        &.q-router-link--exact-active {
            opacity: 1;
        }
    }
}

// number inputs
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin-left: 10px;
}

.fixed-width {
    width: 125px;
    text-align: right;
  }

body.body--dark, .pagination-dark {
  background: #121212;
}

body.body--dark {
  .q-item__section {
    color: #ececec;
  }
}

body.body--light {
  .text-weight-bold {
    color: rgb(43, 43, 43)
  }
}

.thin-border {
  border-top: 1px solid darkgray;
  border-radius: 2px; /* optional */
}

/* Global styles (e.g., in src/css/app.scss or a scoped style block) */

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #999;     /* or use Quasar color: var(--q-primary) */
  border-radius: 4px;
  border: 2px solid transparent;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

/* Firefox support */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #999 transparent;
}

body.body--dark .custom-scroll::-webkit-scrollbar-thumb, .q-chip {
  background-color: #555;
}

body.body--dark .custom-scroll {
  scrollbar-color: #555 transparent;
}