body, html {
    overflow: hidden; /* Disable default browser scroll */
  }

// drawer nav
.q-drawer {
    .q-item {
        opacity: 0.6;
        &.q-router-link--exact-active {
            opacity: 1;
        }
    }
}

// number inputs
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin-left: 10px;
}

.fixed-width {
    width: 125px;
    text-align: right;
  }

body.body--dark {
  background: #121212;
}

body.body--dark {
  .q-item__section {
    color: #ececec;
  }
}

body.body--light {
  .text-weight-bold {
    color: rgb(43, 43, 43)
  }
}

.thin-border {
  border-top: 1px solid darkgray;
  border-radius: 2px; /* optional */
}